.main{
	height: auto;
	margin: 0 auto;
}
.imgler{
	width:200px;
	height: 300px;
}
.timer{
	width: 200px;
	height: 200px;
	background: purple;
}
span{
	font-size:100px;
	color: yellow;
	line-height: 200px;
	padding-left: 30px; 
	overflow: 
}
